* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 80px;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 94%;
  margin: 0 auto;
 font-family: sans-serif;
 color: #ffffff;
 position: fixed;

}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img {
    width: 50px;

}
.nav-left ul li {
  list-style: none;
  display: inline-block;
  margin: 0 15px;
}
.search-bar
{
  width: 350px;
  line-height: 40px;
  border-radius: 4px;
  background: #ffffff;
}
.search-bar input
{
  background: transparent;
  border: 0;
  outline: none;
  width: 85%; 
  font-size: 12px;
}
.nav-right .search-bar i
{
  font-size: 13px;
  color: #727070;
  margin-right: 15px;
  margin-left: 10px;
}
.nav-right div
{
  margin: 0 10px;
  text-align: center;

}
.nav-right div p
{
  font-size: 12px;
  font-weight: 700;
  color: #535252;
}
.nav-right div i
{
  font-size: 18px;
  color: #535252;
}
.nav-right div ion-icon{
  display: none;
  
}
.nav-left i {
  font-size: 20px;
  background-color: #f1efef;
  padding: 10px;
  border-radius: 50%;
  display: none;
}
body
{
  background-color: rgb(249, 249, 249);
}
main {
  width: 100%;
  height: 400px;
  margin: auto;
  margin-top: 00px;
  box-shadow: 0px 0px 3px gray;
  position: relative;
  overflow: hidden;
}

/* Styles for individual slides */
.slide {
  width: 100%;
  height: 100%;
  transition: 1s;
  position: absolute; /* Adjust the border radius as needed for curved edges */
}

/* Styles for navigation buttons */

    /* media query */

    @media only screen and (max-width:700px){
       .nav-menu{
           display: none;
      }

      .nav-left i {
        display: block;
      }
      header{
        height: 60px;
      }
      .search-bar{
        display: none;
      }
      .nav-right div{
        margin: 0 8px;
      }
      .nav-right div p{
        font-size: 10px;
      }
      .nav-right div ion-icon{
        display: block; 
        font-size: 20px;
        color: #ffffff;
      }
      main {
        width: 100%;
        height: 130px;
        margin: auto;
        margin-top: 00px;
        box-shadow: 0px 0px 3px rgb(68, 67, 67);
        position: relative;
        overflow: hidden;
      }

      
    }
    /* tablet sc */
    
    @media only screen and (max-width:1200px){
      .nav-menu{
          display: none;
     }

     .nav-left i {
       display: block;
     }
     header{
       height: 60px;
     }
     .search-bar{
       display: none;
     }
   }